:root {
  --gradient: linear-gradient(90deg, #0047ff 0%, #0af4ca 100%);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  text-decoration: inherit;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(20px);
  z-index: 10;
}
.navigation {
  display: flex;
  max-width: 1200px;
  margin: auto;
  height: 81px;
  align-items: center;
}
.navigation__menu {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.navigation__item {
  position: relative;
  font-weight: 500;
  margin: 0 20px;
}
.navigation__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.navigation__item--with-dropdown > a:after {
  content: ".";
}
.navigation__item--with-dropdown:hover .navigation__dropdown {
  display: block;
}
.navigation__cta {
  background: var(--gradient);
  display: inline-flex;
  font-weight: 700;
  color: white;
  border-radius: 99rem;
  padding: 10px 30px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}
.navigation__cta:hover {
}
.logo {
  margin-right: auto;
}
.logo img {
  display: flex;
}
.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../img/bg-gradient.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
/* .banner::before,
.banner::after {
  content: "";
  width: 2855px;
  height: 2855px;
  position: absolute;
  top: 0;
  right: 30%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #0af4ca 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: -1;
}
.banner::after {
  right: auto;
  left: 30%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #0a68f4 0%,
    rgba(255, 255, 255, 0) 100%
  );
} */
.banner__shadowtext {
  margin-top: 174px;
  font-size: 180px;
  line-height: 140px;
  font-weight: 900;
  letter-spacing: 0.02em;
  opacity: 0.2;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
}
.banner__text {
  font-size: 68px;
  font-weight: 800;
  letter-spacing: 0.02em;
  margin-top: -196px;
  text-transform: uppercase;
}
.banner__subtext {
  font-weight: 500;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  margin-top: -28px;
}
.banner__img {
  margin-top: -100px;
  margin-bottom: -200px;
}

.partners {
  display: flex;
  justify-content: center;
  margin: 340px auto 140px;
  filter: saturate(0%);
}

.whoweare__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #0047ff;
}

.whoweare__text {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto 130px;
}
.whoweare__item {
  max-width: 1044px;
  margin: -27px auto auto auto;
}
.whoweare__animation {
  position: relative;
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whoweare__circle {
  position: absolute;
  left: 0;
  top: 0;
}
.whoweare__line {
  top: 90px;
  left: 100%;
  position: absolute;
}
.whoweare__content {
  width: 416px;
  margin-top: -20px;
  margin-left: 50px;
  position: relative;
}
.whoweare__item-title {
  font-size: 22px;
}
.whoweare__item-text {
  font-weight: 500;
}

.whoweare__item-right .whoweare__animation {
  margin-left: auto;
  margin-right: 272px;
}
.whoweare__item-right .whoweare__line {
  left: auto;
  right: 100%;
}
.whoweare__item-right .whoweare__content {
  margin-left: auto;
}

.whatwedo {
  max-width: 1210px;
  margin: 220px auto 243px;
}
.whatwedo__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #0047ff;
}

.whatwedo__text {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  margin: 0 auto;
}

.whatwedo__item {
  margin: 180px auto auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whatwedo__item-title {
  font-size: 50px;
}
.whatwedo__item-text {
  font-weight: 500;
  font-size: 22px;
  margin-top: 8px;
}
.whatwedo__item-text ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 5px;
}
.whatwedo__item-text ul li::marker,
.whatwedo__item-text ul li:hover {
  color: #0047ff;
}
.whatwedo__item-text ul li:not(:last-child) {
  margin-bottom: 10px;
}

.whychooseus {
  padding: 98px 20px 140px;
  background-color: #f5f5f5;
}
.whychooseus__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #0047ff;
  margin-bottom: 30px;
}
.whychooseus__row {
  display: flex;
  gap: 21px;
  justify-content: center;
}
.whychooseus__item img {
  display: flex;
}
.whychooseus__item {
  color: white;
  background: #0047ff;
  background: linear-gradient(
    31.64deg,
    #0047ff 0%,
    rgba(0, 71, 255, 0.5) 98.36%
  );
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 30px;
  width: 386px;
}
.whychooseus__item-title {
  font-size: 40px;
  line-height: 38px;
  margin: 42px 0 20px;
}
.whychooseus__item-text {
  padding-right: 10px;
  font-weight: 500;
  padding-bottom: 15px;
}

.accordion--wrapper {
  border: 1px solid #ddd;
  border-top: none;
}
.accordion--wrapper .accordion--trigger {
  border-top: 1px solid #ddd;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
}
.accordion--wrapper .accordion--trigger:hover,
.accordion--wrapper .accordion--trigger:active,
.accordion--wrapper .accordion--trigger:focus {
  background-color: #f3f4f5;
}
.accordion--wrapper .accordion--trigger.accordion--active {
  background-color: #f3f4f5;
}
.accordion--wrapper .accordion--content {
  overflow: hidden;
  margin-bottom: 0;
}
.accordion--wrapper .accordion--content.accordion--active .accordion-inner {
  border-top: 1px solid #ddd;
}
.accordion--wrapper .accordion--content .accordion-inner {
  padding: 10px 20px;
}
