:root {
  --gradient: linear-gradient(90deg, #0047ff 0%, #0af4ca 100%);
  --tab-break: 992px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  display: block;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  text-decoration: inherit;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* Common */

.heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #0047ff;
}
@media (min-width: 992px) {
  .heading {
    font-size: 50px;
    line-height: 75px;
  }
}
.subheading {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto 36px;
}
@media (min-width: 992px) {
  .subheading {
    font-size: 28px;
    line-height: 42px;
    margin: 0 auto 130px;
  }
}

.header {
  left: 0;
  top: 0;
  width: 100%;
  padding: 14px;
  position: fixed;
  z-index: 999;
}

.navigation {
  position: absolute;
  display: flex;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  position: relative;
}
.logo img {
  height: 30px;
}
@media (min-width: 992px) {
  .header {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
    z-index: 10;
    padding: 0;
  }
  .navigation {
    height: 81px;
  }
  .logo img {
    height: auto;
  }
}

.navigation__button {
  width: 24px;
  height: 24px;
  position: fixed;
  right: 20px;
  z-index: 11;
  top: 20px;
  border: none;
  background: none;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.navigation__button span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.navigation__title {
  font-weight: 600;
  color: red;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.navigation__button span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.navigation__button span:nth-child(2) {
  top: 8px;
  transform-origin: left center;
}

.navigation__button span:nth-child(3) {
  top: 16px;
  transform-origin: left center;
}

.navigation__button.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.navigation__button.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.navigation__button.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 14px;
  left: 8px;
}

.navigation__menu {
  position: fixed;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 10;
  right: 0;
  background: white;
  height: 100vh;
  padding: 30px;
  width: 260px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.navigation__menu.open:before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);
  background: rgba(255, 255, 255, 0.9);
}
.navigation__contact {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.navigation__menu > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 992px) {
  .navigation__menu {
    flex-direction: row;
    position: relative;
    box-shadow: none;
    height: auto;
    background: transparent;
    width: auto;
    padding: 0;
    align-items: center;
    transform: translateX(0) !important;
  }
  .navigation__menu > ul {
    flex-direction: row;
    margin-right: 30px;
  }
  .navigation__button,
  .navigation__contact,
  .navigation__title {
    display: none;
  }
  .navigation__item {
    position: relative;
    font-weight: 500;
    margin: 0 20px;
  }
}

.navigation__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.navigation__item--with-dropdown > a:after {
  content: ".";
}
.navigation__item--with-dropdown:hover .navigation__dropdown {
  display: block;
}
.navigation__cta {
  background: var(--gradient);
  display: inline-flex;
  font-weight: 700;
  color: white;
  border-radius: 99rem;
  padding: 10px 30px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}
.navigation__cta:hover {
}
.logo {
  margin-right: auto;
}
.logo img {
  display: flex;
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../img/bg-gradient.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 0 16px;
}

.banner__shadowtext {
  margin-top: 120px;
  font-size: 70px;
  line-height: 60px;
  font-weight: 800;
  letter-spacing: 0.02em;
  opacity: 0.2;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
}
@media (min-width: 992px) {
  .banner__shadowtext {
    margin-top: 174px;
    font-size: 180px;
    line-height: 140px;
    font-weight: 900;
  }
}
.banner__text {
  font-size: 34px;
  font-weight: 800;
  letter-spacing: 0.02em;
  line-height: 30px;
  margin-top: -96px;
  text-align: center;
  text-transform: uppercase;
  max-width: 290px;
}
@media (min-width: 992px) {
  .banner__text {
    font-size: 68px;
    line-height: 102px;
    margin-top: -196px;
    max-width: 100%;
  }
}
.banner__subtext {
  font-weight: 500;
  font-size: 15px;
  line-height: 22.5px;
  text-align: center;
}
@media (min-width: 992px) {
  .banner__subtext {
    font-size: 34px;
    line-height: 51px;
    margin-top: -28px;
  }
}
.banner__img {
  width: 100%;
  max-width: 1600px;
  margin-bottom: -10%;
  margin-top: -30px;
}
@media (min-width: 992px) {
  .banner__img {
    margin-top: -160px;
    margin-bottom: -100px;
  }
}
.banner__img svg {
  width: 100%;
  height: auto;
}
.partners {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 16px;
  filter: saturate(0%);
}
@media (min-width: 992px) {
  .partners {
    margin: 320px auto 120px;
  }
}
.whoweare {
  padding: 0 32px;
}

.whoweare__animation {
  position: relative;
  height: 110px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whoweare__circle {
  position: absolute;
  left: 0;
  top: 0;
}
.whoweare__line {
  display: none;
}

.whoweare__content {
  position: relative;
}
.whoweare__item-title {
  font-size: 16px;
  max-width: 180px;
  margin: auto;
}
.whoweare__item-text {
  font-weight: 500;
}
.whoweare__item {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px auto 36px;
  gap: 10px;
}
.whoweare__animation lottie-player {
  height: 60px;
  width: auto;
}
@media (min-width: 992px) {
  .whoweare__animation {
    height: 180px;
    width: 180px;
  }
  .whoweare__animation lottie-player {
    height: 90px;
  }
  .whoweare__line {
    display: block;
    top: 90px;
    left: 100%;
    position: absolute;
  }
  .whoweare__item {
    max-width: 1044px;
    margin: -27px auto auto auto;
    display: block;
    text-align: left;
  }
  .whoweare__item-title {
    font-size: 22px;
    max-width: 100%;
  }
  .whoweare__content {
    width: 416px;
    margin-top: -20px;
    margin-left: 50px;
  }
  .whoweare__item-right .whoweare__animation {
    margin-left: auto;
    margin-right: 272px;
  }
  .whoweare__item-right .whoweare__line {
    display: block;
    left: auto;
    right: 100%;
  }
  .whoweare__line img {
    max-width: min-content;
  }
  .whoweare__item-right .whoweare__content {
    margin-left: auto;
  }
}

.whatwedo {
  padding: 0 36px;
  margin: 50px auto 50px;
}

.whatwedo__item {
  margin: 0 auto 60px auto;
  display: flex;
  justify-content: space-between;

  flex-direction: column;
}
.whatwedo__item-title {
  font-size: 30px;
}
.whatwedo__item-text {
  font-weight: 500;
  font-size: 14px;
  margin-top: 8px;
}
.whatwedo__item-text ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 5px;
  margin-bottom: 20px;
}
.whatwedo__item-text ul li::marker,
.whatwedo__item-text ul li:hover {
  color: #0047ff;
}
.whatwedo__item-text ul li:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .whatwedo {
    max-width: 1210px;
    padding: 0 36px;
    margin: 220px auto 243px;
  }
  .whatwedo__item-title {
    font-size: 50px;
  }
  .whatwedo__item-text ul {
    margin-bottom: 0;
  }
  .whatwedo__item {
    margin: 180px auto auto auto;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .whatwedo__item-text {
    font-size: 22px;
    margin-top: 8px;
  }
}

.whychooseus {
  padding: 42px 20px;
  background-color: #f5f5f5;
}
.whychooseus__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #0047ff;
  margin-bottom: 30px;
}
.whychooseus__row {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-top: 21px;
}
.whychooseus__item img {
  display: flex;
}
.whychooseus__item {
  color: white;
  background: #0047ff;
  background: linear-gradient(
    31.64deg,
    #0047ff 0%,
    rgba(0, 71, 255, 0.5) 98.36%
  );
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-areas:
    "icon title"
    "content content";
  grid-template-columns: 90px 1fr;
  grid-gap: 20px;
}
.whychooseus__icon {
  grid-area: icon;
}
.whychooseus__item-title {
  font-size: 26px;
  line-height: 28px;
  grid-area: title;
}
.whychooseus__item-text {
  padding-right: 10px;
  font-weight: 500;
  padding-bottom: 15px;
  grid-area: content;
}

@media (min-width: 992px) {
  .whychooseus {
    padding: 98px 20px 140px;
  }
  .whychooseus__item {
    padding: 30px;
  }
  .whychooseus__row {
    justify-content: center;
    flex-direction: row;
  }
  .whychooseus__item {
    width: 386px;
    display: block;
  }
  .whychooseus__item-title {
    font-size: 40px;
    line-height: 38px;
    margin: 42px 0 20px;
  }
}

.ourwork {
  background: url(../img/our-work-bg.svg);
  padding: 62px 0;
  text-align: center;
}
.ourwork__title {
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0047ff;
}
.ourwork__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  margin-bottom: 38px;
  text-align: center;
}
.ourwork__cta {
  background: #ffffff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  display: inline-block;
  padding: 14px 45px;
  margin: auto;
}
.ourwork__row {
  display: flex;
  padding: 0 10px;
  overflow: auto;
  gap: 10px;
  margin-bottom: 20px;
}
.ourwork__row--second {
  display: none;
}
.ourwork__item {
  width: 274px;
  height: 210px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  flex-shrink: 0;
  padding: 12px;
}
.ourwork__hover-text {
  position: absolute;
  background: rgb(0 0 0 / 50%);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  letter-spacing: 0.01em;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.ourwork__item:hover .ourwork__hover-text {
  opacity: 1;
}

@media (min-width: 992px) {
  .ourwork__row--second {
    display: flex;
  }
  .ourwork__row {
    overflow: hidden;
    justify-content: center;
    gap: 24px;
    margin-bottom: 0;
  }
  .ourwork__item {
    width: 445px;
    height: 310px;
    margin-bottom: 24px;
  }
}

.testimonials {
  padding: 50px 16px;
}

.testimonials__left .swiper-button-prev,
.testimonials__left .swiper-button-next {
  position: static !important;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: blue;
  border-radius: 50%;
  color: white;
  margin: 0;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 14px !important;
}

.testimonials__left .swiper-pagination {
  position: static !important;
  width: auto !important;
}

.testimonials__left {
  display: grid;
  grid-template-areas:
    "title title"
    "heading nav";
  grid-template-columns: 182px 1fr;
  margin-bottom: 21px;
}

.testimonials__title {
  font-size: 26px;
  line-height: 26px;
  max-width: 182px;
  grid-area: heading;
}
.testimonials__heading {
  grid-area: title;
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  color: #0047ff;
}
.testimonial__navigation {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  align-items: center;
  gap: 6px;
  grid-area: nav;
}

.testimonial__text {
  margin-bottom: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.testimonial__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 0.01em;
}

.testimonial__designation {
  letter-spacing: 0.01em;
}

.testimonial__image {
  height: 80px;
  width: 80px;
  background: white;
  border-radius: 50%;
  margin-bottom: 16px;
}
.testimonial__item {
  background: #1455ff;
  padding: 16px;
  border-radius: 10px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .testimonials {
    padding: 180px 16px;
  }
  .testimonials__row {
    display: flex;
    width: 1200px;
    margin: auto;
  }
  .testimonials__left {
    margin-right: 164px;
    width: 380px;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .testimonial__navigation {
    justify-content: space-between;
    gap: 16px;
  }
  .testimonial__item {
    height: 500px;
    padding: 42px 50px;
    border-radius: 16px;
    width: 655px;
  }
  .testimonials__title {
    font-size: 50px;
    line-height: 50px;
  }
  .testimonials__left .swiper-button-prev,
  .testimonials__left .swiper-button-next {
    width: 50px;
    height: 50px;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 18px !important;
  }
}

.ourblog__row {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.ourblog {
  margin-bottom: 50px;
  padding: 0 32px;
}

.ourblog__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  color: #0047ff;
}
@media (min-width: 992px) {
  .ourblog {
    margin-bottom: 146px;
  }
  .ourblog__row {
    flex-direction: row;
    gap: 144px;
    align-items: center;
  }
  .ourblog__animation {
    width: 472px;
    flex-shrink: 0;
  }
}

.connect {
  background: url(../img/connect-bg.svg);
  background-size: cover;
  padding: 150px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.connect__title {
  font-size: 26px;
  line-height: 27px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .connect {
    height: 707px;
  }
  .connect__title {
    max-width: 743px;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 40px;
  }
}

.connect__btn {
  background: #ffffff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  display: inline-block;
  padding: 14px 45px;
}

.accordion--wrapper .accordion--content {
  overflow: hidden;
}
.accordion--trigger {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  border-top: 1px solid #c4c4c4;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
}
.accordion--trigger-first {
  border-top: none;
  padding-top: 0;
}
.accordion--trigger svg {
  position: absolute;
  right: 100%;
  top: 12px;
  margin-right: 10px;
  transform: rotate(-90deg);
  width: 12px;
  transition: all 0.2s ease-out;
}
.accordion--trigger-first svg {
  top: 6px;
}
.accordion--active.accordion--trigger svg {
  transform: rotate(0deg);
}

.accordion-inner {
  padding-bottom: 10px;
  font-size: 12px;
}
@media (min-width: 992px) {
  .accordion--trigger svg {
    width: auto;
    top: 26px;
  }
  .accordion--trigger-first svg {
    top: 16px;
  }
  .accordion--trigger {
    font-size: 35px;
    line-height: 50px;
    padding: 10px 0;
  }
  .accordion-inner {
    font-size: 16px;
    padding-bottom: 20px;
  }
}

.footer {
  padding-top: 34px;
  background: #fafafa;
}
.footer__row {
  display: flex;
  flex-wrap: wrap;
  gap: 95px;
  max-width: 1208px;
  margin: auto;
}
.footer__col--1 {
  margin-right: auto;
  width: 230px;
}
.footer__col--4 {
  width: 248px;
}
.footer__bottom-links {
  margin-top: 38px;
  background: #fff;
}
.footer__bottom-links-container {
  display: flex;
  max-width: 1208px;
  margin: auto;
  padding: 10px 0;
}
@media (max-width: 991px) {
  .footer {
    padding: 50px 46px 30px;
  }
  .footer__menu {
    display: none;
  }
  .footer__row {
    flex-direction: column;
  }
}

/* Animations */
.banner__subtext,
.banner__shadowtext,
.banner__text,
.svg__top {
  opacity: 0;
}
